<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
   <link rel="icon" href="/img/cloudy.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="main-content">
     {{>header}}
     <p>Use this site for getting your weather</p>

     <form>
       <input placeholder= "Enter Location">
       <button>Search</button>
     </form>
     <p id='message-1' style="color: blue"></p>
     <p id='message-2' style="color: blue"></p>
   </div>
  {{>footer}}
 <script src="/js/app.js"></script>
</body>

</html>
